sudo: required
dist: trusty
language: generic
services: docker

# auto-updates docker engine
addons:
  apt:
    packages:
      - docker-ce

script:
  - cd ${TRAVIS_BUILD_DIR}
  - travis_wait 45 make build
    #- |
    #if [[ "${TRAVIS_PULL_REQUEST}" == "false" ]] ; then
    #docker login --username=$DOCKER_HUB_USERNAME --password=$DOCKER_HUB_PASSWORD
    #make push
    #fi

notifications:
  email:
    on_success: change
    on_failure: change

env:
  global:
    - DOCKER_QUIET=-q
    - DOCKER_PRUNE=1
